@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');


.oferteblock{
    display: flex;
    justify-content: center;
    margin: 40px 15%;
    align-items: center;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 18px;
}
.div-oferte{

}
.oferteblock img {
    width: 500px;
    height: auto;
      margin-left: 20px;
}
@media screen and (max-width: 1500px)
{
  .oferteblock{
    margin: 40px 5%;
  }
  .oferteblock img{
    width: 400px;
  }
}
.img10{
  border-radius: 20px;
  border: 5px solid orange;
}
